@import './reset.css';
@import './colorbox.css';
#quiz {
    display: block;
}

body {
    background: #000000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

html {
    zoom: 1;
    font-style: 18px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#first_screen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(img/landing/first_screen.jpg) center top no-repeat;
}

.logo {
    text-align: center;
    margin: 35px 0;
    display: block;
    a {
        display: inline-block;
        height: 100px;
        width: 100px;
        text-indent: -990000px;
        background: url(img/landing/logo.png) no-repeat 0 0;
    }
    a&__lozhkin {
        background-position: -125px 0;
        width: 150px;
        margin: 0 20px;
    }
}

@font-face {
    font-family: "NeuchaRegular";
    src: url("fonts/NeuchaRegular.eot");
    src: url("fonts/NeuchaRegular.eot?#iefix")format("embedded-opentype"), url("fonts/NeuchaRegular.woff") format("woff"), url("fonts/NeuchaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.logo__title {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 440px;
    margin-top: -220px;
    text-align: center;
    h1 {
        display: block;
        text-align: center;
        background: url(img/landing/title.png) no-repeat center center;
        height: 149px;
        background-size: contain;
        text-indent: -9999999px;
        margin: 0 0 50px;
    }
    h2 {
        font-weight: bold;
        margin: 0 0 20px;
        font-size: 1.5rem;
    }
    .title {
        display: block;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 1.3rem;
        font-weight: 300;
    }
}

.quiz {
    position: relative;
    top: 50%;
    width: 100%;
    height: 440px;
    margin-top: -220px;
    text-align: center;
    display: block;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 300;
    h1 {
        font-family: "NeuchaRegular";
        color: #f8ac3f;
        font-size: 4rem;
        line-height: 1;
    }
    &__container {
        margin-top: 25px;
        background: rgba(0, 0, 0, 0.55);
        border-radius: 25px;
        box-sizing: border-box;
        padding: 25px;
    }
}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#first_screen {
    .container {
        height: 100%;
        overflow: hidden;
    }
    .mouse {
        position: absolute;
        width: 32px;
        height: 50px;
        display: block;
        left: 50%;
        margin-left: -16px;
        bottom: 25px;
        // background: url(img/landing/mouse.png) no-repeat center top;
        cursor: pointer;
    }
}

.mouse-icon {
    width: 28px;
    height: 44px;
    border: 2px solid #c5c5c5;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 10px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: #c5c5c5;
    border-radius: 9px !important;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

#epsiode {
    position: relative;
    background: url(img/landing/bg_thumb.png) repeat-x center center;
    margin: -8px 0 -25px 0;
    height: 664px;
    padding: 3rem 0;
    box-sizing: border-box;
    color: #fff;
    ul {
        margin: 60px -10px;
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 270px;
        margin: 0 15px 30px;
        a {
            display: block;
            position: relative;
            outline: none;
            text-decoration: none;
            &:hover {
                &:before {
                    background: url(img/landing/youtube.png) no-repeat 0 0;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 33px;
                    width: 48px;
                    margin: -24px 0 0 -24px;
                }
                .episode__title {
                    color: #b22d00;
                }
            }
        }
        .episode__image {
            width: 270px;
            background: url(img/landing/thumb.jpg) no-repeat 0 0;
            display: block;
            height: 180px;
            &.img2 {
                background-position: -310px 0;
            }
            &.img3 {
                background-position: -600px 0;
            }
            &.img4 {
                background-position: -910px 0;
            }
            &.img5 {
                background-position: 0 -185px;
            }
            &.img6 {
                background-position: -310px -185px;
            }
            &.img7 {
                background-position: -600px -185px;
            }
            &.img8 {
                background-position: -910px -185px;
            }
        }
        .episode__title {
            color: #fff;
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            margin: 10px 0 20px;
        }
    }
}

#bottom {
    background: url(img/landing/bg_bottom.jpg) center top no-repeat;
    overflow: hidden;
    h2 {
        display: block;
        background: url(img/landing/title_bottom.png) no-repeat center center;
        background-size: contain;
        text-indent: -9999px;
        height: 63px;
        text-align: center;
        margin-top: 140px;
        margin-bottom: 40px;
    }
}

.testimotion {
    padding: 30px 0 60px;
    overflow: hidden;
    position: relative;
    min-height: 145px;
    h4 {
        font-weight: bold;
        font-size: 22px;
        margin: 10px 0;
        font-size: 1.6rem;
    }
    .testimotion__text {
        font-style: italic;
        line-height: 1.5;
        font-size: 1.3rem;
    }
    .testimotion__container {
        width: 70%;
    }
    &__photo {
        background: url(img/landing/people.jpg) no-repeat 0 0;
        height: 225px;
        width: 225px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        background-position: -240px 0;
        right: 25px;
        border: 4px solid #000;
    }
    &.testimotion--timur {
        .testimotion__container {
            float: right;
        }
        .testimotion__photo {
            top: 0;
            left: 25px;
            background-position: 0 0;
        }
    }
}

.footer {
    .logo {
        margin: 40px 0 30px;
    }
    .logo a {
        background: url(img/landing/logo_futter.png) no-repeat 0 0;
        height: 60px;
        width: 60px;
        &.logo__lozhkin {
            width: 110px;
            background-position: -88px 0;
        }
    }
}
