@import './reset.css';
@import './colorbox.css';
#quiz {
    display: block;
}

body {
    background: #000000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

html {
    zoom: 1;
    font-style: 18px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#first_screen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(img/landing/first_screen.jpg) center top no-repeat;
}

.logo {
    text-align: center;
    margin: 35px 0;
    display: block;
    a {
        display: inline-block;
        height: 100px;
        width: 100px;
        text-indent: -990000px;
        background: url(img/landing/logo.png) no-repeat 0 0;
    }
    a&__lozhkin {
        background-position: -125px 0;
        width: 150px;
        margin: 0 20px;
    }
}

@font-face {
    font-family: "NeuchaRegular";
    src: url("fonts/NeuchaRegular.eot");
    src: url("fonts/NeuchaRegular.eot?#iefix")format("embedded-opentype"), url("fonts/NeuchaRegular.woff") format("woff"), url("fonts/NeuchaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.logo__title {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 160px;
    margin-top: -130px;
    text-align: center;
    h1 {
        display: block;
        text-align: center;
        background: url(img/landing/title.png) no-repeat center center;
        height: 149px;
        background-size: contain;
        text-indent: -9999999px;
        margin: 0 0 50px;
    }
    h2 {
        font-weight: bold;
        margin: 0 0 20px;
        font-size: 1.5rem;
    }
    .title {
        display: block;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        line-height: 1.5;
        font-size: 1.3rem;
        font-weight: 300;
    }
}

.quiz {
    position: relative;
    top: 50%;
    width: 100%;
    height: auto;
    margin-top: -220px;
    text-align: center;
    display: block;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 300;
    h1 {
        font-family: "NeuchaRegular";
        color: #f8ac3f;
        font-size: 4rem;
        line-height: 1;
    }
    &__container {
        margin-top: 25px;
        background: rgba(0, 0, 0, 0.55);
        border-radius: 25px;
        box-sizing: border-box;
        padding: 2rem 3rem;
    }
}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#first_screen {
    .container {
        height: 100%;
        overflow: hidden;
    }
    .mouse {
        position: absolute;
        width: 32px;
        height: 50px;
        display: block;
        left: 50%;
        margin-left: -16px;
        bottom: 4vh;
        // background: url(img/landing/mouse.png) no-repeat center top;
        cursor: pointer;
    }
}

.mouse-icon {
    width: 28px;
    height: 44px;
    border: 2px solid #c5c5c5;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 10px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: #c5c5c5;
    border-radius: 9px !important;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

#epsiode {
    position: relative;
    background: url(img/landing/bg_thumb.png) repeat-x center center;
    margin: -8px 0 -25px 0;
    height: 664px;
    padding: 3rem 0;
    box-sizing: border-box;
    color: #fff;
    ul {
        margin: 30px -10px;
    }
    h2 {
        font-family: "NeuchaRegular";
        text-align: center;
        font-size: 4rem;
        color: #ffad31;
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 270px;
        margin: 0 15px 30px;
        a {
            display: block;
            position: relative;
            outline: none;
            text-decoration: none;
            &:before {
                background: url(img/landing/youtube_noactive.png) no-repeat 0 0;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                height: 33px;
                width: 48px;
                margin: -24px 0 0 -24px;
            }
            &:hover {
                .episode__image {
                    outline: 3px solid #555;
                }
                &:before {
                    background: url(img/landing/youtube.png) no-repeat 0 0;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 33px;
                    width: 48px;
                    margin: -24px 0 0 -24px;
                }
                .episode__title {
                    color: #b22d00;
                }
            }
        }
        .episode__image {
            width: 270px;
            background: url(img/landing/thumb.jpg) no-repeat 0 0;
            display: block;
            height: 180px;
            &.img2 {
                background-position: -310px 0;
            }
            &.img3 {
                background-position: -600px 0;
            }
            &.img4 {
                background-position: -910px 0;
            }
            &.img5 {
                background-position: 0 -185px;
            }
            &.img6 {
                background-position: -310px -185px;
            }
            &.img7 {
                background-position: -600px -185px;
            }
            &.img8 {
                background-position: -910px -185px;
            }
        }
        .episode__title {
            color: #fff;
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            margin: 10px 0 20px;
        }
    }
}

#about {
    background: #302730;
    // overflow: hidden;
    .container {
        overflow: hidden;
            padding-bottom: 40px;
    }
    &:before {
        background: url(img/landing/about_border.png) no-repeat center 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        margin-top: -20px;
    }
    &:after {
        background: url(img/landing/about_border.png) no-repeat center -224px;
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        margin-bottom: 0;
    }
    h2 {
        display: block;
        background: url(img/landing/title_bottom.png) no-repeat center center;
        background-size: contain;
        text-indent: -9999px;
        height: 63px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }
}

#footer {
    background: url(img/landing/bg_bottom.jpg) center top no-repeat;
    overflow: hidden;
}

#bottom {
    background: url(img/landing/bg_bottom.jpg) center top no-repeat;
    overflow: hidden;
    margin: 20px 0;
    min-height: 500px;
    h2 {
        font-family: "NeuchaRegular";
        text-align: center;
        font-size: 4rem;
        margin: 4rem 0 3rem;
        color: #ffad31;
    }
    .bottom {
        &__container {
            text-align: center;
            width: 600px;
            font-size: 22px;
            line-height: 1.5;
            margin: 0 auto;
            font-weight: 100;
        }
        &__button {
            margin-top: 20px;
            cursor: pointer;
            background: #f8ac3f;
            outline: none;
            padding: 7px 40px;
            border: none;
            margin: 30px 0;
            font-family: "NeuchaRegular";
            color: #000;
            font-size: 2rem;
            border-radius: 40px;
        }
        &__desclaimer {
            font-size: 1rem;
            color: #999;
            font-style: italic;
        }
    }
}

.testimotion {
    padding: 30px 0 60px;
    overflow: hidden;
    position: relative;
    min-height: 145px;
    h4 {
        font-weight: bold;
        font-size: 22px;
        margin: 10px 0;
        font-size: 1.6rem;
    }
    .testimotion__text {
        font-style: italic;
        line-height: 1.5;
        font-size: 1.3rem;
    }
    .testimotion__container {
        width: 70%;
    }
    &__photo {
        background: url(img/landing/people.png) no-repeat 0 0;
        height: 225px;
        width: 225px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        background-position: -226px 0;
        right: 25px;
        border: 4px solid #000;
    }
    &.testimotion--timur {
        .testimotion__container {
            float: right;
        }
        .testimotion__photo {
            top: 0;
            left: 25px;
            background-position: 0 0;
        }
    }
}

.footer {
    .logo {
        margin: 40px 0 30px;
    }
    .logo a {
        background: url(img/landing/logo_futter.png) no-repeat 0 0;
        height: 60px;
        width: 60px;
        &.logo__lozhkin {
            width: 110px;
            background-position: -88px 0;
        }
    }
}

.bottom__about {
    width: 810px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    h4 {
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .title {
        text-align: left;
    }
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"]:focus + label:before,
input[type="checkbox"]:hover + label:before,
input[type="radio"]:focus + label:before,
input[type="radio"]:hover + label:before {
    border-color: #fff;
}

input[type="checkbox"]:active + label:before,
input[type="radio"]:active + label:before {
    border-color: #fff;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;
    padding: 0;
    display: block;
    line-height: 1.5;
    padding-left: 2em;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    box-sizing: content-box;
    content: '';
    color: #900;
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    margin-top: -12px;
    border: 1px solid #fff;
    text-align: center;
}

input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
    box-sizing: content-box;
    content: '';
    background: rgb(250, 175, 64);
    background: -moz-linear-gradient(top, rgba(250, 175, 64, 1) 0%, rgba(240, 96, 42, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 175, 64, 1) 0%, rgba(240, 96, 42, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 175, 64, 1) 0%, rgba(240, 96, 42, 1) 100%);
    position: absolute;
    top: 50%;
    left: 4px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 3px 3px;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -webkit-transition: none;
    transition: none;
}

input[type="checkbox"]:checked + label:after {
    content: '';
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

input[type="radio"]:checked + label:before {
    -webkit-animation: borderscale 300ms ease-in;
    animation: borderscale 300ms ease-in;
    background-color: transparent;
}

input[type="radio"]:checked + label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
    border-radius: 50%;
}

input[type="checkbox"]:checked + label:before {
    -webkit-animation: borderscale 200ms ease-in;
    animation: borderscale 200ms ease-in;
}

input[type="checkbox"]:checked + label:after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.quiz {
    display: none;
    .bad {
        h3 {
            color: #7396ff;
        }
    }
    h3 {
        font-family: "NeuchaRegular";
        color: #f8ac3f;
        font-size: 2rem;
        line-height: 1;
    }
    h4 {
        margin: 10px;
        font-weight: bold;
    }
    &__var {
        margin: 10px;
        text-align: left;
        cursor: pointer;
    }
    input[type="radio"]:checked + label {
        color: #f8ac3f;
    }
    button {
        margin-top: 20px;
        cursor: pointer;
        background: #f8ac3f;
        outline: none;
        padding: 5px 40px;
        border: none;
        font-family: "NeuchaRegular";
        color: #000;
        font-size: 2rem;
        border-radius: 40px;
    }
}

.quiz__result {
    &__diagnos {
        margin: 10px 0;
        text-align: left;
    }
    &__therapy {
        margin: 10px 0;
        text-align: left;
    }
    strong {
        font-weight: bold;
    }
}

.share {
    position: relative;
    margin: 50px 0 30px;
    display: none;
    transition: all .3s;
    &.active {
        display: block;
    }
    &:before {
        content: "";
        background: url(./img/landing/share.png) no-repeat;
        height: 6px;
        display: block;
        margin: 20px auto;
        width: 440px;
    }
    &:after {
        content: "";
        background: url(./img/landing/share.png) no-repeat;
        height: 6px;
        background-position: -6px 0;
        display: block;
        margin: 20px auto;
        width: 440px;
    }
    &__title {
        font-weight: bold;
        margin: 0 0 20px;
    }
    button&__FB {
        background: url(./img/landing/share.png) no-repeat 0 0;
        text-indent: -911199px;
        width: 140px;
        padding: 0;
        margin: 0 5px;
        border-radius: 0;
        background-position: 0 -21px;
    }
    button&__VK {
        background: url(./img/landing/share.png) no-repeat 0 0;
        text-indent: -911199px;
        width: 140px;
        padding: 0;
        margin: 0 5px;
        border-radius: 0;
        background-position: -149px -21px;
    }
    button&__TWI {
        background: url(./img/landing/share.png) no-repeat 0 0;
        text-indent: -911199px;
        width: 140px;
        padding: 0;
        margin: 0 5px;
        border-radius: 0;
        background-position: -299px -21px;
    }
}
#first_screen.active__quiz {
    overflow: visible;
    height: initial;
    min-height: auto;
    min-height: 100%;
    padding-bottom: 130px;
    .container {
        height: auto;
    }
}

body.active__quiz {
    #footer {
        background: none;
        margin-top: -130px;
    }
}